[Unit]
Description=ExpressVPN client connect service
Wants=expressvpn.service
After=expressvpn.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/rasp-mediaserver-files/bash-scripts/expressvpn-connect.sh

[Install]
WantedBy=expressvpn.service
